/en_cours/CNN/__pycache__
/en_cours/backend/__pycache__
/en_cours/backend/API/__pycache__
/en_cours/backend/DATABASES/__pycache__
/en_cours/backend/API/API_KEY.py
/en_cours/backend/libs/__pycache__

/sources/CNN/__pycache__
/sources/backend/__pycache__
/sources/backend/API/__pycache__
/sources/backend/DATABASES/__pycache__
/sources/backend/API/API_KEY.py
/sources/backend/libs/__pycache__